@tailwind base;
@tailwind components;
@tailwind utilities;
.table-container {
    overflow: auto; /* Enables scrolling */
    max-height: 100%; /* Limits the table height for vertical scroll */
    width: 100%;
  }
  
  .sticky-header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100; /* Make sure it stays above other elements */
  }
  
  .table th,
  .table td {
    padding: 12px;
  }
  
  table {
    table-layout: auto; /* Allow automatic width adjustment */
    width: 100%;        /* Full width of the container */
  }
  
  th, td {
    white-space: nowrap; /* Prevent text from wrapping, keep it in one line */
    overflow: hidden;    /* Hide overflow text */
    text-overflow: ellipsis; /* Show ellipsis for overflowed text */
  }